.asteroidTable {
    padding-left: 2%;
    padding-right: 2%;
    max-width: 70%;
    justify-content: center;
    border:1px solid white;
    border-radius: 16px;
    min-height: 680px;
}

.weatherReport {
    justify-content: center;
    border:1px solid white;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 16px;
    min-height: 680px;
    width: auto;
}

.roverPhotos {
    padding-left: 2%;
    padding-right: 2%;
    border:1px solid white;
    border-radius: 16px;
    max-width: 100%;
    height: auto;
}

.spaceXTable {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0;
    max-width: 50%;
    min-height: 620px;
    border:1px solid white;
    border-radius: 16px;
    justify-content: center;
}

h2 {
    text-align: center;
    color: white;
}

p {
    color: white;
}

.about {
    color: white;
    border:1px solid white;
    border-radius: 16px;
    padding-left: 1%;
    padding-right: 1%;
}

.profilePicArash {
    width: 85%;
    border-radius: 50%;
}

.profilePic {
    width: 80%;
    border-radius: 50%;
    margin-left: 5%;
}

.profilePadding {
    padding-left: 4%;
}
    
.iframe-container {
    padding-top: 2%;
    position: relative;
}
   
.iframe-container iframe {
     border: 0;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
}

@media only screen and (max-width: 600px) {
    .about {
        height: 880px;
    }
    .weatherReport, .asteroidTable {
        height: 780px;
    }
    .roverPhotos, .spaceXTable {
        height: 900px;
    }
    .iframe-container iframe {
        height: 500px;
    }
}
  
@media only screen and (min-width: 600px) {
    .about {
        height: 760px;
    }
    .weatherReport, .asteroidTable {
        height: 675px;
    }
    .roverPhotos, .spaceXTable {
        height: 800px;
    }
    .iframe-container iframe {
        height: 500px;
   }

}

@media only screen and (min-width: 768px) {
    .about {
        height: 550px;
    }
    .weatherReport, .asteroidTable {
        height: 600px;
    }
    .roverPhotos, .spaceXTable {
        height: 760px;
    }
    .iframe-container iframe {
        height: 500px;
    }
} 
  
@media only screen and (min-width: 992px) {
    .about {
        height: 500px;
    }
    .weatherReport, .asteroidTable {
        height: 450px;
    }
    .roverPhotos, .spaceXTable {
        height: 730px;
    }
    .iframe-container iframe {
        height: 500px;
    }
} 

@media only screen and (min-width: 1200px) {
    .about {
        height: 400px;
    }
    .iframe-container iframe {
        height: 580px;
    }
}