.asteroidTable {
    padding-left: 5%;
    padding-right: 5%;
    max-width: 70%;
    justify-content: center;
    border:1px solid white;
    border-radius: 16px;
    min-height: 650px;
}

.weatherReport {
    padding-left: 15%;
    padding-right: 15%;
    justify-content: center;
    border:1px solid white;
}

.roverPhotos {
    padding: 5%;
    padding-left: 10%;
    justify-content: center;
    align-content: center;
    border:1px solid white;
    border-radius: 16px;
    min-height: 718px;
}

.spaceXTable {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0;
    max-width: 50%;
    min-height: 718px;
    border:1px solid white;
    border-radius: 16px;
    justify-content: center;
}