table {
    color: white;
    border-spacing: 5px;
}

table, td {
    border: 1px solid white;
    border-collapse: collapse;
}

td {
    padding: 4px;
    font-size: medium;
}

th {
    font-size: large;
}